<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('userpartial')%>
 <body>

<h2> Meals list for user </h2> <br>
<!--edit Button trigger modal -->
<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#editModalCenter">
    Edit
  </button>
  <!-- Modal -->
  <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Meal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
            <form action="/meal/edit" method="POST">
                <label> MealID</label>
                <input type="name" name="mealId" placeholder="enter Id of meal"> <br><br>
                <label> Foodname</label>
                <input type="name" name="foodname" placeholder="enter updated food"> <br><br>
                <label> Description</label>
                <input type="name" name="description" placeholder="enter updated description "> <br><br>
                <label> Calories</label>
                <input type="number" name="calories" placeholder="enter updated calories"> <br><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button name="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
        </div>
       
         
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
    Delete
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Meal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
            <form action="/meal/delete" method="POST">
                <label> Meal Id</label>
                <input type="name" name="mealId" placeholder="enter mealId"><br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button name="submit" class="btn btn-primary">delete</button>
                    </div>
                </form>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form  style="float:right" action="/meal/date" method="POST">
    <label for="date">sort by</label>
    <input type="date" name="date" value="DATE">
    <input type="submit">
  </form>
  

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">MEAL ID </th>
        <th scope="col">FOOD NAME</th>
        <th scope="col">DATE TIME</th>
        <th scope="col">Description</th>
        <th scope="col">CALORIES</th>
      </tr>
      </tr>
    </thead>
    <tbody> <% var z=0 %>
        <% meals.forEach((meal)=>{ z=z+meal.calories %>
        <tr>
          <th scope="row"><%= meal.mealId %></th>
          <td><%= meal.foodname %> </td>
          <td><%= meal.datetime.toISOString().split("T").join(" ").slice(0,19) %> </td>
          <td><%= meal.description %>  </td>
          <td><%= meal.calories %>  </td>
        </tr>
         
         <% })  %> 
         percentage calories consumed today
         <button class="btn btn-warning"><%= (z * 100/calorielimit).toFixed(2) %> %</button>
         
        
   </tbody>
   </table>
</body>
</html>